

.username {
  font-size: 2rem; /* Tamaño de fuente mayor para destacar el nombre */
  font-weight: 600; /* Negrita para el nombre */
  color: #333; /* Color de texto oscuro para mejor legibilidad */
  margin-top: 4rem; /* Mayor margen superior para separación del borde superior */
  margin-bottom: 2rem; /* Margen inferior para separación de los elementos del menú */
}
.headerRegistro {
 
  padding: 20px; 
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.line {
  display: block;
  width: 100%;
  height: 3px;
  border: 0;
  color: #9e9b9b;
  background-color: #9e9b9b;
}
.menu {
  width: 100%;
  max-width: 600px; /* Ancho máximo para el menú */
  margin-top: 2rem; /* Menor margen superior */
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff; /* Fondo blanco para el menú */
  border-radius: 8px; /* Bordes redondeados para el menú */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para el menú */
}

  
.menuItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd; /* Borde inferior en lugar de borde superior para separar elementos */
  gap: 1rem;
  padding: 30px;
  color: #333; /* Color de texto oscuro para legibilidad */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para los efectos hover */
}


.menuItem:hover {
  background-color: #f0f0f0; /* Fondo ligeramente gris en hover para destacar el ítem */
  color: #007bff; /* Color de texto en hover para destacar el ítem */
}

.icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon svg {
  width: 24px; /* Tamaño más grande para los íconos */
  height: 24px; /* Tamaño más grande para los íconos */
  fill: #333; /* Color de los íconos oscuro */
}

.logout {
  color: #e74c3c;
   /* Color rojo para el texto de cerrar sesión */
  font-weight: bold; /* Negrita para el texto de cerrar sesión */
}

.menuItemLog {
  display: flex;
  align-items:  center;
  height: 150px;
  padding: 15px;
  border-bottom: 1px solid #ddd; /* Borde inferior en lugar de borde superior para separar elementos */
  gap: 1rem;
  padding: 30px;
  color: #333; /* Color de texto oscuro para legibilidad */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves para los efectos hover */
}