.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.VolverHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.AHeader{
  display: flex;
  align-items: center;
  margin-right: auto; 
  color: black;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.photoContainer {
  position: relative;
  margin-right: 30px;
}

.fileInput {
  display: none;
}

.photoLabel {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #bbb;
  cursor: pointer;
  transition: border-color 0.3s;
}

.photoLabel:hover {
  border-color: #888;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  color: #333;

 
}

.email {
  font-size: 1rem; /* Texto más pequeño para el email */
  color: #666; /* Color más suave para el email */
  margin-top: 5px; /* Espacio entre el nombre y el email */
}

.menu {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none; /* Quitar borde */
  
}

.menuSection {
  margin-bottom: 30px;
 
}

.menuSection strong {
  display: block;
  margin-bottom: 15px;
  display: block;
  margin-bottom: 15px;
  display: flex;
  margin: 10px;
    align-items: center;
    gap: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
  background-color: #b4b3b3;
  border-radius: 5px;
  text-decoration: none;

  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  width: 100%;
  border: none;
}
.menuItemC{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  text-decoration: none;
  color: red;
  transition: background-color 0.3s ease ;
  margin-bottom: 10px;
  width: 100%;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItem:hover {
  background-color: #e9ecef;
}

.correo_p{
  
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modalButton {
  padding: 10px 20px;
 
 background-color: white;
  border:2px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: #0056b3;
}

.modalButtonCerrar{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}