.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f7fa;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.backButton {
  position: absolute;
  left: 20px;
  color: white;
  cursor: pointer;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.VolverHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.AHeader{
  display: flex;
  align-items: center;
  margin-right: auto; 
  color: black;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.photoContainer {
  position: relative;
  margin-right: 30px;
}

.fileInput {
  display: none;
}

.photoLabel {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #bbb;
  cursor: pointer;
  transition: border-color 0.3s;
}

.photoLabel:hover {
  border-color: #888;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  color: #333;

 
}

.email {
  font-size: 1rem; /* Texto más pequeño para el email */
  color: #666; /* Color más suave para el email */
  margin-top: 5px; /* Espacio entre el nombre y el email */
}

.menu {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none; /* Quitar borde */
}

.menuSection {
  margin-bottom: 30px;
}

.menuSection strong {
  display: block;
  margin-bottom: 15px;
}

.menuItem {
  display: block;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.menuItem:hover {
  background-color: #e9ecef;
}

.correo_p{
  padding-top: 5px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 350px; 
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
  padding: 12px; 
  margin-bottom: 1.25rem;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 10px;
  font-size: 1rem; 
}

.submit {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  border: none;
  background-color: rgb(73, 88, 223);
  border-radius: .7rem;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}