.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .VolverHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .AHeader {
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
  }
  
  .content {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #41419b;
  }
  
  .text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-top: 10px;
  }
  