.searchContainer {
  position: relative;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 600px;
}

.container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.inputClass {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
  color: #333;
  transition: background-color 0.3s ease;
}



.resultList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.resultItem:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.imageContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #eee;
  transition: transform 0.3s ease;
}

.resultImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resultText {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.noResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
  text-align: center;
  color: #999;
  font-size: 16px;
}

.historyContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  z-index: 1000;
}

.historyTitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.historyList {
  list-style-type: none;
  padding: 0;
}

.historyItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.historyItem:hover {
  background-color: #f0f0f0;
}

@media (max-width: 300px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .inputClass {
    font-size: 14px;
    padding: 8px;
  }

  .resultItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .imageContainer {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .resultText {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  .navItem {
    text-align: center;
    color: #555;
  }
  
  .navItem img {
    display: block;
    margin: 0 auto;
  }
  
  .activeLink .navItem {
    color: #007bff;
  }
  
  .activeLink img {
    filter: brightness(0) saturate(100%) invert(33%) sepia(90%) saturate(3280%) hue-rotate(187deg) brightness(96%) contrast(95%);
  }
  
  .navItem span {
    display: block;
    margin-top: 5px;
  }
}

