.container {
    padding: 20px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.VolverHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px; 
}

.AHeader {
    display: flex;
    align-items: center;
    color: black;
    margin-right: auto;
}

.TituloCategorias {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.6rem; 
    font-weight: 600;
}

.detalleContainer {
    padding: 20px;
}

.backButton {
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.productoDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productImage {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.productInfo {
    margin-top: 20px;
    text-align: center;
}

.productName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.productPrice, 
.productStock, 
.productColor, 
.productTalle, 
.productVentas,
.productCategory {
    font-size: 18px;
    margin: 5px 0;
}

.productList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productItem {
    display: flex;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    align-items: center;
    gap: 15px;
    position: relative; /* Agregado para posicionar el botón de borrar */
}

.imageContainer {
    width: 80px;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.productDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productName {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.productPrice {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.quantityControl {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantityControl button {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.botonBorrar {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 30px; 
    height: 30px;
    border-radius: 50%; /* Cambiado a un borde redondeado */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Agregado para que se posicione arriba a la derecha */
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
}
