.VolverHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.AHeader{
  display: flex;
  align-items: center;
  margin-right: auto; 
  color: black;
}

.TituloPedidos {
  flex-grow: 1; 
  text-align: center; 
  margin: 0;
}
.container_noHay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 15px;
}
.imagenProducto{
  color: gray;
}

.div_noHay p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.noFavoritos_principal {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 10px; 

}