.container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
  }

.inputClass {
    flex: 1;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
  }

.buttonClass {
    background: none;
    border:none;
    cursor: pointer;
  }