.container {
  max-width: 400px; /* Limita el ancho máximo */
  margin: 20px auto; /* Centra el contenedor */
  padding: 20px;
  background: #f9f9f9; /* Fondo claro */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.VolverHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.AHeader {
  color: #41419b; /* Color del enlace */
}

.TituloCategorias {
  font-size: 2rem;
  color: #41419b;
  font-weight: 600;
  text-align: center; /* Centrado */
  margin-bottom: 10px; /* Espaciado */
}

.subtitulo {
  font-size: 16px;
  color: grey;
  text-align: center; /* Centrado */
  margin-bottom: 20px; /* Espaciado */
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Espaciado entre los campos */
}

.checkbox_label {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.input {
  padding: 12px;
  border: 1px solid rgba(105, 105, 105, 0.5);
  border-radius: 5px;
  width: 100%; /* Ocupa todo el ancho */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.submit_button {
  background: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px; /* Espaciado superior */
}

.submit_button:hover {
  background: #0056b3;
}

.successMessage {
  color: green;
  margin-top: 10px;
  text-align: center; /* Centrado */
}

.errorMessage {
  color: red;
  margin-top: 10px;
  text-align: center; /* Centrado */
}
