.detalleContainer {
    padding: 20px;
}

.backButton {
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.productoDetalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.productImage {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.productInfo {
    margin-top: 20px;
    text-align: center;
}

.productName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.productPrice, 
.productStock, 
.productColor, 
.productTalle, 
.productVentas,
.productCategory {
    font-size: 18px;
    margin: 5px 0;
}

.VolverHeader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  }
  .AHeader{
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }
  .categoriaTitle{
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5rem; 
    font-weight: 600;
}

.botonAgregar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 70%; 
    border-radius: 8px; 
    justify-content: center;
    background-color: #4400ff;
    color: white;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.selectorCantidad {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .selectorCantidad label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .inputCantidad {
    width: 50px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .coloresContainer, .tallasContainer {
    margin: 10px 0;
  }
  
  .colores {
    display: flex;
    gap: 10px;
  }
  
  .colorBox {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc; /* Borde opcional */
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
  }
  
  .tallas {
    display: flex;
    gap: 10px;
  }
  
  .talla {
    padding: 5px 10px;
    border: 1px solid #ccc; /* Borde para las tallas */
    border-radius: 4px;
    cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
  }
  
  .selected {
    border: 2px solid black;
  }