.HeaderPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

.carta {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    
    box-shadow: 10px 10px 10px rgb(72, 12, 238);
}
.padreCarta {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.imgCarta {
    width: 100%;
    max-width: 100px; 
    height: auto; }
.pmucho{
    grid-area: pmucho;
}
.h1mucho{
    grid-area: h1mucho;
}


