.HeaderPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.HeaderTitle {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.TituloCategorias {
    font-size: 24px;
    color: #333;
}

.padreCarta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.carta {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}



.imgCarta {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.favorito {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}

.texto {
    padding: 10px;
}

.h1mucho {
    font-size: 15px;
    margin-bottom: 5px;
}

.pmucho {
    font-size: 14px;
    color: #666;
    margin: 0;
}


.btns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.boton {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 40px; /* Altura del botón */
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px; /* Misma altura que el botón */
    border: 1px solid #000;
    cursor: pointer;
    background-color: #fff;
}
.filterbutton {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 5px 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    gap: 15px;
}

