.HeaderPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.carta {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(159, 157, 157);
    box-shadow: 3px 3px 3px 3px rgb(159, 157, 157);
    border-radius: 4px;
    width: 45vw;
    height: auto;
    position: relative;
}

.padreCarta {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}

.imgCarta {
    max-width: 100%; 
    height: auto;
}

.pmucho {
    margin: 2px;
    font-size: 12px;
}

.h1mucho {
    margin: 5px;
    font-size: 12px;
}

.texto {
    text-align: justify;
    gap: 20px;
}

.huevo {
    position: absolute;
    top: 0px;
    right:0px;
    width: 24px;
    height: 24px;
}
