/* Agregar estilos para los nuevos elementos y mejorar la apariencia general */


.padre {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  
   
  }
  
  .headerRegistro {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
  }
  
  .input_container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .input_label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .icon {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
  
  .input_field {
    width: 85%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .checkbox_label {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .checkbox_input {
    margin-right: 10px;
  }
  
  .submit_button {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit_button:hover {
    background: #0056b3;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .links a {
    color: #007bff;
    font-size: 14px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-button {
    background: #3b5998;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .social-button.twitter {
    background: #1da1f2;
  }
  
  .social-button:hover {
    opacity: 0.9;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #acacac;
    padding-top: 1rem;
  }
  
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #9e9b9b;
    
  }
  
  .btn-G {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  