.padre {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.headerRegistro {
  text-align: center;
  margin-bottom: 20px;
}

.headerRegistro h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.headerRegistro p {
  color: #666;
}

.logo {
  width: auto;
  margin-bottom: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  margin: 1rem;
}

.input_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.input_field {
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.input_field:focus {
  border: 1px solid #aaa;
}

.checkbox_label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox_input {
  margin-right: 10px;
}

.divSumbit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_button {
  background: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width: 80%;
  margin-top: 1rem;
}

.submit_button:hover {
  background: #0056b3;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}

.links a {
  color: gray;
  font-size: 14px;
  text-decoration: none;
}

.strongA {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.links a:hover {
  text-decoration: underline;
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-button {
  background: #3b5998;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

.social-button.twitter {
  background: #1da1f2;
}

.social-button:hover {
  opacity: 0.9;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #acacac;
  padding-top: 2rem;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #9e9b9b;
}

.divBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnG {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  background-color: white;
  border: 1px solid #ededef;
  border-radius: 5px;
  font-weight: 500;
  width: 80%;
  cursor: pointer;
}

.btnG:hover {
  background-color: #f1f1f1;
}

.divRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17rem;
}

.divRegistro a {
  text-decoration: none;
  color: gray;
}

.divRegistro strong {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.input_container {
  position: relative;
  margin-bottom: 20px;
}



.valid .input_field {
  border: 2px solid green;
}

.validationIcon {
  position: absolute;
  right: 10px;
  top: 67%;
  transform: translateY(-50%);
}




.headerRegistro {
  background-color:
  #41419b; 
  padding: 20px; 
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 23px;
  color: #41419b; ;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-top: 2rem;

}
.bienvenida{
  font-size: 28px;
  justify-content: center;
  text-align: center;
  color: #41419b; ;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;

}

.todo {
  display: flex;
  justify-content: center;

}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}
.title::before, .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #41419b; ;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

/* Estilos para el mensaje y el enlace de inicio de sesión */
.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
  margin-top: 1rem;
}

.signin a {
  color: #41419b; ;
}

.signin a:hover {
  text-decoration: underline royalblue;
}
.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span, .form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #41419b; ;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
