@media screen and (max-width: 430px) {
    .HeaderPadre {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  
    .Cabeza {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
    }
  
    .DivCabeza {
      padding: 0.5rem;
      border: 1px solid rgb(201, 201, 201);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border-radius: 10px;
    }
  
    .DivForm {
      display: flex;
      gap: 9px;
    }
  
    .LupaBtn {
      border: none;
      background-color: white;
    }
  
    .LupaImg {
      width: 30px;
    }
  
    .DivCabeza input {
      width: 100%;
    }
  
    .fltro {
      cursor: pointer;
    }
  
    .fltro rect {
      transition: fill 0.3s ease;
    }
  
    .fltro .active rect {
      fill: black;
    }
  
    .fltro path {
      transition: fill 0.3s ease;
    }
  
    .fltro.active path {
      fill: white;
    }
  
    .fltro {
      border-radius: 50%;
    }
  
  
    /*Seccion de productos*/
    .VolverHeader{
     
      margin: 1rem;
    }
    .AHeader{
      color: black;
    }
    .HeaderTitle {
      display: flex;
      justify-content: center; 
      align-items: center; 
  }
  
  .Back-Button {
      margin-right: 1rem; 
  }
  
  
    .Container {
      .Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        text-align: center;
        margin: auto; 
        
        max-width: 800px; 
      }
     
    }
  
    .TituloCategorias {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    .Categories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
     text-align: center;
     margin: 1rem;
    }
    .CategoriesDentro{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
    }
    .CategoriesDentro p {
      display: flex;
      justify-content: center;
    }
    
  
    .Category {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
   
  
    .Category img {
        object-fit: cover;
      height: 120px;
  
      width: 120px;
      
      }
      .category p {
      margin: 0;
      font-size: 16px;
      color: #555;
      text-decoration: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

  
  
    
    }
  
    