.HeaderPadre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.VolverHeader {
    margin: 1rem;
}

.AHeader {
    text-decoration: none;
    color: black;
}

.productosGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.productItem {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
}

.imageContainer {
    position: relative;
}

.productImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.bookmarkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarkButton svg {
    width: 24px;
    height: 24px;
    fill: black;
    transition: fill 0.3s;
}

.bookmarkButton:hover svg {
    fill: black;
}

.productName {
    margin: 10px 0;
    text-align: center;
}

.productPrice {
    margin: 0;
    color: gray;
}

.noProducts {
    text-align: center;
    color: #a7a7a7;
}
