.container {
    max-width: 600px;
    margin: 5px auto;
    padding: 20px;
   
    text-align: left;
  }
  .VolverHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .AHeader{
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }
  
  .title {
   
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pregunta {
    margin-bottom: 10px;
  }
  
  .preguntaButton {
    background-color: #41419b; /* Botón azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    text-align: left;
    cursor: pointer;  
    font-size: 13px;
    transition: background-color 0.3s;
  }
  
  .preguntaButton:hover {
    background-color: #41419b; /* Color al pasar el mouse */
  }
  
  .respuesta {
    padding: 10px;
    background-color: #f1f8e9; /* Fondo más claro para la respuesta */
    border-left: 4px solid #41419b; /* Línea a la izquierda */
    border-radius: 4px;
    margin-top: 5px;
  }
  .VolverHeader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  }
  .AHeader{
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }