.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e0f7fa; /* Fondo azul claro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .title {
    color: #00796b;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pregunta {
    margin-bottom: 10px;
  }
  
  .preguntaButton {
    background-color: #00796b; /* Botón azul oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .preguntaButton:hover {
    background-color: #004d40; /* Color al pasar el mouse */
  }
  
  .respuesta {
    padding: 10px;
    background-color: #f1f8e9; /* Fondo más claro para la respuesta */
    border-left: 4px solid #00796b; /* Línea a la izquierda */
    border-radius: 4px;
    margin-top: 5px;
  }
  .VolverHeader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  }
  .AHeader{
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }