.TituloCategorias {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1.5rem; 
    font-weight: 600;
}

.AHeader {
    display: flex;
    align-items: center;
    color: black;
    margin-right: auto;
}

.VolverHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px; 
}

.favoritosContainer {
    padding: 20px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.productosGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
}

.productItem {
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    height: 50%;
   
}

.productItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.imageContainer {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; 
    border-radius: 10%;
}

.productImage {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.imageContainer:hover .productImage {
    transform: scale(1.05);
}

.bookmarkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border: none;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
     width: 30px; /* Aumentamos el tamaño del botón */
    height: 30px; /* Aumentamos el tamaño del botón */
    
}

.bookmarkButton svg {
    fill: #333; 
    transition: fill 0.3s ease, transform 0.3s ease;
    width: 100%;
    width: 20px; /* Aumentamos el tamaño del ícono */
    height: 20px; /* Aumentamos el tamaño del ícono */
}

.bookmarkButton:hover {
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.1); 
}

.bookmarkButton:hover svg {
    fill: #e63946; 
}

.productName {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.productPrice {
    font-size: 0.9rem;
    color: #9c9c9c;
    margin-bottom: 10px; 
}

.favoritosContainer {
    padding: 20px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container_noHay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 15px;
}

.div_noHay img {
    width: 60px; 
    margin-bottom: 15px;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.div_noHay img:hover {
    opacity: 1;
}

.noFavoritos {
    font-size: 1.1rem; 
    color: #555;
    margin-bottom: 10px;
    line-height: 1.4;
}

.noFavoritos_principal {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 10px; 
}

.noFavoritos a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: .5rem;
}

.noFavoritos a:hover {
    color: #2980b9;
}