.favoritosContainer {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #333;
}


.productosGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
}

.productItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imageContainer {
    position: relative;
    overflow: hidden;
}

.productImage {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.imageContainer:hover .productImage {
    transform: scale(1.05);
}

.bookmarkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bookmarkButton svg {
    fill: #000000;
}

.bookmarked svg {
    fill: #e63946;
}

.bookmarkButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

.productName, .productPrice {
    text-align: center;
    margin: 15px 0;
}

.productName {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.productPrice {
    font-size: 1rem;
    color: #28a745;
}

.noFavoritos {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 50px;
}
