.container {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #e0f7fa; /* Fondo azul claro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    gap: 20px;
  }
  
  .title {
    color: #00796b;
    text-align: center;
  }
  
  .faq, .contact {
    margin-bottom: 30px;
  }
  
  .question {
    margin-bottom: 15px;
  }
  
  .question h3 {
    color: #004d40;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .textarea {
    height: 100px;
  }
  
  .submitButton {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #004d40;
  }
  
  .successMessage {
    color: #388e3c;
    text-align: center;
  }
  .VolverHeader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
  }
  .AHeader{
    display: flex;
    align-items: center;
    margin-right: auto; 
    color: black;
  }